<!DOCTYPE html>
html(lang="en")
    
    
    
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="")
        meta(name="author", content="verysure")
            
        title AquaFresco: a device for wastewater regeneration
        
        //- Bootstrap Core CSS
        link(href="css/bootstrap.min.css", rel="stylesheet")

        //- Custom CSS
        link(href="css/grayscale.css", rel="stylesheet")

        //- Custom Fonts
        link(href="font-awesome-4.2.0/css/font-awesome.min.css", rel="stylesheet", type="text/css")
        link(href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic", rel="stylesheet", type="text/css")
        link(href="http://fonts.googleapis.com/css?family=Montserrat:400,700", rel="stylesheet", type="text/css")
        link(href="img/favicon.ico", rel="icon", type="image/x-icon")


    body#page-top(data-spy="scroll" data-target=".navbar-fixed-top")
        
        //- Navigation
        nav.navbar.navbar-custom.navbar-fixed-top(role="navigation")
            .container
                .navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-main-collapse")
                        i.fa.fa-bars
                    a.navbar-brand.page-scroll(href="#page-top").
                        Aqua#[span.light Fresco]

                //- Collect the nav links, forms, and other content for toggling
                .collapse.navbar-collapse.navbar-right.navbar-main-collapse
                    ul.nav.navbar-nav
                        //- Hidden li included to remove active class from about link when scrolled up past about section
                        li.hidden: a(href="#page-top")
                        li: a.page-scroll(href="#about") ABOUT
                        li: a.page-scroll(href="#team") TEAM
                        li: a.page-scroll(href="#contact") CONTACT
                  

        //- Intro Header
        header.intro
            .intro-body: .container: .row
                .col-md-8.col-md-offset-2
                    h1.brand-heading.
                        Aqua#[span.light Fresco]
                    p.intro-text.
                        Reinventing laundry <br>
                        A device for wastewater regeneration

                        
                    a.btn.btn-circle.page-scroll(href="#about")
                        i.fa.fa-angle-double-down.animated




        //- About Section
        section#about.container.content-section
            .row: .col-lg-8.col-lg-offset-2
                h2.text-center About Aqua#[span.light Fresco]
                p.
                    #[b Reinventing laundry.] The current cleaning process utilizes significant amount of water and detergent to remove less than 1% of hydrophobic “garbage” (grease or stain). This highly inefficient laundry process makes an average Marriot hotel spend $10,000 on water and detergent every single week.  AquaFresco provides the state-of-the-art filtration technology which regenerates 95% of laundry wastewater. This next generation laundry device would save $0.5M/yr for hotels, capturing a market opportunity of $200M per year. We also envision applications in commercial laundry, household, military and industrial wastewater treatment, revolutionizing the current water using technology.


        //- Team Section
        section#team.content-section.text-center
            .download-section: .container
                //- .row
                //- .col-lg-8.col-lg-offset-2
                h2 Meet Aqua#[span.light Fresco] Team
                img(src="img/team_bg.png")
                        
                //- .row
                //-     .col-sm-4
                //-         a.btn(data-toggle="modal", data-target="#chris"): figure: img(src="img/chris.jpg")
                //-         br
                //-         | Chris Lai
                //-     .col-sm-4
                //-         a.btn(data-toggle="modal", data-target="#alina"): figure: img(src="img/alina.jpg")
                //-         br
                //-         | Alina Rwei
                //-     .col-sm-4
                //-         a.btn(data-toggle="modal", data-target="#sasha"): figure: img(src="img/sasha.jpg")
                //-         br
                //-         | Sasha Huang



        //- Modals for team members
        #chris.modal.fade(tabindex="-1", role="dialog", aria-labelledby="test", aria-hidden="true")
            .modal-dialog: .modal-content: .modal-body
                //- button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                p.
                    #[b Chris Lai] is a fourth year MIT graduate in chemical engineering.
                    Chris Lai is a fourth year MIT graduate in chemical engineering.
                    Chris Lai is a fourth year MIT graduate in chemical engineering.
                    Chris Lai is a fourth year MIT graduate in chemical engineering.
                    Chris Lai is a fourth year MIT graduate in chemical engineering.
        
        #alina.modal.fade(tabindex="-1", role="dialog", aria-labelledby="test", aria-hidden="true")
            .modal-dialog: .modal-content: .modal-body
                //- button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                p.
                    #[b Alina Rwei] is a third year MIT graduate in Material Science.
                    Alina Rwei is a third year MIT graduate in Material Science.
                    Alina Rwei is a third year MIT graduate in Material Science.
                    Alina Rwei is a third year MIT graduate in Material Science.
                    Alina Rwei is a third year MIT graduate in Material Science.
        
        
        #sasha.modal.fade(tabindex="-1", role="dialog", aria-labelledby="test", aria-hidden="true")
            .modal-dialog: .modal-content: .modal-body
                //- button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                p.
                    #[b Sasha Huang] is a fourth year MIT graduate in Material Science.
                    Sasha Huang is a fourth year MIT graduate in Material Science.
                    Sasha Huang is a fourth year MIT graduate in Material Science.
                    Sasha Huang is a fourth year MIT graduate in Material Science.
                    Sasha Huang is a fourth year MIT graduate in Material Science.
                    
                    
        //- Contact
        section#contact.container.content-section
            .row.text-center: .col-lg-8.col-lg-offset-2
                    h2 Contact Aqua#[span.light Fresco]
                    p.
                        Feel free to contact our team for further information.
                        <br>
                        #[a(href="mailto:aquafresco.contact@gmail.com") aquafresco.contact@gmail.com]
                        
                        <br><br>
                        Or subscribe to Aqua#[span.light Fresco] mailing list:
            
            //- .row: .col-sm-6.col-sm-offset-4
            #mailing-list-form
                form#ss-form(action="https://docs.google.com/forms/d/19u7DKB9UbAF4LlOFF05F44Tuij1Q-QC8A3ikB_zDv0U/formResponse", method="POST", target="_self", onsubmit="")
                    
                    ol.ss-question-list(role="list", style="padding-left: 0")
                    
                        .ss-form-question.errorbox-good(role="listitem")
                            .ss-item.ss-item-required.ss-text(dir="ltr")
                                .ss-form-entry
                                    label.ss-q-item-label(for="entry_733775838")
                                        span.ss-q-title Email Address
                                        span.ss-required-asterisk *
                                        //- label(for="itemView.getDomIdToLabel()", aria-label="(Required field)")
                                        .ss-q-help.ss-secondary-text(dir="ltr")
                                        
                                    input.ss-q-short#entry_733775838(type="text", name="entry.733775838", value="", dir="auto", aria-label="Email Address  ", aria-required="true", required="", title="")
                                    .error-message#1423137905_errorMessage
                                    //- .required-message This is a required question
                        br
                        
                        .ss-form-question.errorbox-good(role="listitem")
                            .ss-item.ss-text(dir="ltr")
                                .ss-form-entry
                                    label.ss-q-item-label(for="entry_2147142041")
                                        .ss-q-title Name
                                        .ss-q-help.ss-secondary-text(dir="ltr")
                                        
                                    input.ss-q-short#entry_2147142041(type="text", name="entry.2147142041", value="", dir="auto", aria-label="Name  ", title="")
                                    .error-message#338210750_errorMessage
                                    //- .required-message This is a required question
                        br
                        .ss-form-question.errorbox-good(role="listitem")
                            .ss-item.ss-text(dir="ltr")
                                .ss-form-entry
                                    label.ss-q-item-label(for="entry_508331332")
                                        .ss-q-title Affiliation
                                        .ss-q-hel.ss-secondary-text(dir="ltr")
                                    input.ss-q-short#entry_508331332(type="text", name="entry.508331332", value="",  dir="auto", aria-label="Affiliation  ", title="")
                                    .error-message#1535926511_errorMessage
                                    //- .required-message This is a required question

                        
                        br
                        
                        .ss-form-question.errorbox-good(role="listitem")
                            .ss-item.ss-paragraph-text(dir="ltr")
                                .ss-form-entry
                                    label.ss-q-item-label(for="entry_673261613")
                                        .ss-q-title Comments
                                        .ss-q-help.ss-secondary-text(dir="ltr")
                                            
                                    br

                                    textarea(name="entry.673261613", rows="2", cols="35", class="ss-q-long", id="entry_673261613", dir="auto", aria-label="Comments &amp; Recommendations  ")
                                    .error-message#917655397_errorMessage
                                    //- .required-message This is a required question
                        
                        
                        
                        
                        input(type="hidden", name="draftResponse", value="[,,&quot;-4344202135849621804&quot;] ")
                        input(type="hidden", name="pageHistory", value="0")
                        input(type="hidden", name="fbzx", value="-4344202135849621804")
                        
                        br
                        .ss-item.ss-navigate
                            table#navigation-table: tbody: tr
                                td.ss-form-entry.goog-inline-block#navigation-buttons(dir="ltr")
                                    input(type="submit", name="submit", value="Submit", id="ss-submit", class="jfk-button jfk-button-action ")
                                    //- .ss-password-warning.ss-secondary-text Never submit passwords through Google Forms.
                
            
            
            
            
            
            
                    
        hr
        
                    
        //- Footer
        footer    
            .container.text-center
                p.
                    Copyright &copy; Aqua#[span.light Fresco] 2014 <br>
                    Designed by #[a(href="http://www.mit.edu/~tonyw/") VerySure] with Bootstrap (grayscale) and Font Awesome <br>
                    Photocredit to #[a(href="https://www.flickr.com/photos/allenhsin/") Yu-Hsin Chen]
        
                    
                    
        //- Javascript
        <!-- jQuery -->
        script(src="js/jquery.js")

        <!-- Bootstrap Core JavaScript -->
        script(src="js/bootstrap.min.js")

        <!-- Plugin JavaScript -->
        script(src="js/jquery.easing.min.js")

        <!-- Custom Theme JavaScript -->
        script(src="js/grayscale.js")